@import 'assets/css/styles';

label {
    @include margin-b-xsm();
    @include strong();
    display: block;
}

.label-info {
    @include text-small();
    font-weight: $base-font-weight;
    display: block;
}
