@import 'assets/css/styles';

.hero {
    @include padding-y-xlg();
    background: #eee;
    height: 150px;

    @include media(tablet-p) {
        height: 250px;
    }

}

.hero--large {
    
    @include media(tablet-p) {
        height: 400px;
    }
    
}

.hero__wrap {
    @include wrap();
}

.hero__title {
    @include h1();
    @include text-shadow();
    color: palette(primary, white);
}